<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>医师协会</title>
<link href="__PUBLIC__/Home/css/style.css" type="text/css" rel="stylesheet" />
</head>

<body>
<!--top-->
<div id="top">
	<div class="top">
    	<div class="logo left"><img src="__PUBLIC__/Home/images/logo.jpg"  /></div>
        <div class="jiansuo right">
        	<ul>
            	
            </ul>
            <div class="hearderSearch">
            	<include file="Public:search" />
            </div>
        </div>
    </div>
</div>
<!--top end-->
<div class="banner"></div>
<div id="nav">
	<div class="nav">
    <ul>
        <include file="Public:menu" />
      </ul>
    </div>
</div>
<div id="centent">
	<div class="ny_con">
    	<div class="gonggaot"><img src="__PUBLIC__/Home/images/laba.jpg" width="20" height="39" class="left mr10" /><php>echo gonggao();</php></div>
        <div class="blank"></div>
<div class="ny_L">
        	<div class="ny_Lbox mb10">
            	<h3>菜单</h3>
                <ul>
                	<include file="Member:menu" />
                </ul>
            </div>
        </div>
        <div class="ny_R right">

        	<div  class="neirong">
            	 <div class="reg" style="padding: 35px 0 35px 70px;">
<form action="" method="post" enctype="multipart/form-data">
<input type="hidden" name="action" value="add" />
<input type="hidden" name="pid" value="{$pid}" />
<ul>
<li class="text"><span>培训标题</span><input name="title" type="text" value="{$fdata.title}"/><b style="color:#F00">*</b></li>
<li class="text"><span>类型</span><select name="pxtype" id="pxtype" onchange="changeon()"><option value="1" {$fdata.pxtype|retrunselect=###,1}>培训课件</option><option value="2" {$fdata.pxtype|retrunselect=###,2}>考试</option></select></li>
<li class="text" id="examid" <if condition="$fdata['pxtype'] eq 1">style="display:none;"</if>><span>试题</span>
<select name="examid">
<option value="0">请选择</option>
<volist name="data" id="exam">
<option value="{$exam.basicid}" {$fdata.examid|retrunselect=###,$exam['basicid']}>{$exam.basic}</option>
</volist>
</select><b style="color:#F00">*</b></li>
<li class="text" id="fileupload" <if condition="$fdata['pxtype'] eq 2">style="display:none;"</if>><span>上传文件</span><input type="file" name="images" /><b style="color:#F00">*</b></li>
<li><input type="submit" value="提交" class="submit"><input type="reset" value="重写" class="reset"><div class="clear"></div></li>
</ul>
</form>
</div>
</div>
<script>
function changeon(){
	var t = document.getElementById("pxtype");
	if(t.options[t.selectedIndex].value == 1){
		document.getElementById("examid").style.display = 'none';
		document.getElementById("fileupload").style.display = '';
	}else{
		document.getElementById("examid").style.display = '';
		document.getElementById("fileupload").style.display = 'none';
	}
}
</script>
        </div><div class="clear"></div>
        <div class="blank"></div>
        
  
  </div>
    
</div>
<include file="Public:Footer" />