<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>医师协会</title>
<link href="__PUBLIC__/Home/css/style.css" type="text/css" rel="stylesheet" />
<script>
function Views(id,ismoney,money)
{

	if(ismoney==1){
		location.href='{:U('Pay/index')}/money/'+ money;
	}else{
		if (confirm("确定参加培训！"))
		{
			location.href='{:U('Project/addtask')}/id/'+ id;
		}

	}

	/*if (confirm("确定参加培训！"))
	{
		location.href='{:U('Project/addtask')}/id/'+ id;
	}*/
}
function View(link){
	location.href= '{:U('Project/taskcategory')}/id/'+ link;
}
function Search(){
	var name = document.getElementById('UserName').value;
	location.href="{:U('Project/my')}/title/"+name;
}
function getcore(id){
	location.href='{:U('Project/getcore')}/id/'+ id;
}
function getcode(id){
	location.href='{:U('Project/getcode')}/id/'+ id;
}
</script>
</head>

<body>
<!--top-->
<div id="top">
	<div class="top">
    	<div class="logo left"><img src="__PUBLIC__/Home/images/logo.jpg"  /></div>
        <div class="jiansuo right">
        	<ul>
            	
            </ul>
            <div class="hearderSearch">
            	<include file="Public:search" />
            </div>
        </div>
    </div>
</div>
<!--top end-->
<div class="banner"></div>
<div id="nav">
	<div class="nav">
    <ul>
        	<include file="Public:menu" />
      </ul>
    </div>
</div>
<div id="centent">
	<div class="ny_con">
    	<div class="gonggaot"><img src="__PUBLIC__/Home/images/laba.jpg" width="20" height="39" class="left mr10" /><php>echo gonggao();</php></div>
        <div class="blank"></div>
<div class="ny_L">
        	<div class="ny_Lbox mb10">
            	<h3>菜单</h3>
                <ul>
                	<include file="Member:menu" />
                </ul>
            </div>
            

        	
        </div>
        <div class="ny_R right">

        	<div  class="neirong">
        	<table class="bomdiv" border="0">
<tr>
<td nowrap="nowrap"><p>&nbsp;标题：</p></td>
<td nowrap="nowrap"><input name="UserName" type="text" class="Input_W80 bomdivinp" id="UserName" value="{$keyword}" size="10"></td>
<td nowrap="nowrap"><input class="bomdivcha" type="button" name="Submit2" value="查询" onClick="Search()"></td>
</tr>
</table>
        	<div class="all_table">
<table cellspacing="0" cellpadding="0">
  <tr id="all_table_top">
    <td nowrap='nowrap'>id</td>
    <td nowrap='nowrap'>标题</td>
	<td nowrap='nowrap'>发布时间</td>
	<td nowrap='nowrap'>培训周期</td>
	<td nowrap='nowrap'>是否有学分</td>
	<td nowrap='nowrap'>是否有证书</td>
	<td nowrap='nowrap'>是否需要考核</td>
	<td nowrap='nowrap'>操作</td>
  </tr>
  <volist name="list" id="user">
<tr>
<td nowrap='nowrap'>{$user.id}</td>
<td nowrap='nowrap'>{$user.title}</td>
<td nowrap='nowrap'>{$user.posttime|date='Y-m-d H:i:s',###}</td>
<td nowrap='nowrap'>{$user.starttime|date='Y年m月d日',###}-{$user.endtime|date="Y年m月d日",###}</td>
<td nowrap='nowrap'><if condition="$user['score'] eq 0">无学分<else />{$user.score}分</if></td>
<td nowrap='nowrap'><if condition="$user['name'] eq NULL">无证书<else />{$user.name}</if></td>
<td nowrap='nowrap'><if condition="$user['examlink'] eq NULL">不需要考核<else />需要考核</if></td>
<td nowrap='nowrap'>
{:mytask($user['id'] ,$user['ismoney'],$user['money'])}

</td>
</tr>
</volist>
</table>
</div>
            
<div style="width: 95%; height: 30px; overflow: hidden; text-align: center; font-weight: bold; margin-bottom:10px; margin-top:10px; font-size:14px;">
                                            {$page}
                                            </div>

            </div>
        </div><div class="clear"></div>
        <div class="blank"></div>
        
  
  </div>
    
</div>
<include file="Public:Footer" />