<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/right.css" />
<script><!--
function checkForm(obj)
{
	if (obj.name.value=="")
	{
		alert("请输入用户名！");
		obj.name.focus();
		return false;
	}
	var reg=/^[a-zA-Z0-9]{4,16}$/;
	if (!reg.test(obj.name.value))
	{
		alert("用户名只能使用英文字母或数字，长度4到16位！");
		obj.name.focus();
		return false;
	}
	if(obj.email.value==""){
		alert("邮件不能为空");
		obj.email.focus();
		return false;
	}
	var reg=/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/;
	if (!reg.test(obj.email.value))
	{
		alert("邮箱格式不正确");
		obj.email.focus();
		return false;
	}
	if(obj.phone.value==""){
		alert("电话不能为空");
		obj.phone.focus();
		return false;
	}
	var reg=/^(13[0-9]{9})|(15[0-9]{9})|(18[0-9]{9})$/;
	if(!reg.test(obj.phone.value)){
		alert("电话格式不正确");
		obj.phone.focus();
		return false;
	}
	obj.submit();
}
function ReSetPwd(id)
{
	if(confirm("您确定初始化密码吗？"))
	{
		location.href="{:U('Member/repass')}/id/"+ id;
	}
}
--></script>
</head>

<!-- body style="overflow:scroll;overflow-x:hidden;" -->
<body>
<div id="man_zone">


<div class="right_add2"><p>当前页：编辑账号</p></div>
<div class="all_table2">

<form name="form1" method="post" action="">
<table width="100%">
<tr>
<td width="9%" height="34" align="right">用户名:</td>
<td align="left"><input name="name" type="text" class="Input_W675" id="Title" size="50" value="{$data.uname}" disabled>&nbsp;<span style="color:red" id="chk">*</span></td>
</tr>
<tr>
<td align="right"></td>
<td>(用户名只能使用英文字母或数字，长度4到16位！)</td>
</tr>
<tr>
<td width="9%" height="34" align="right">真实姓名:</td>
<td align="left"><input name="truename" type="text" class="Input_W675" id="Title" size="20" value="{$data.truename}">&nbsp;<span style="color:red" id="chk">*</span></td>
</tr>
<tr>
<td width="9%" height="34" align="right">所属分组:</td>
<td align="left">
<select name="group">
<option value="">请选择用户分组</option>
<volist name="group" id="glist">
<option value="{$glist.id}" {$data.group|retrunSelect=###,$glist['id']}>{$glist.title}</option>
</volist>
</select>
</td>
</tr>
<tr>
<td width="9%" height="34" align="right">E-mail:</td>
<td align="left"><input name="email" type="text" class="Input_W675" id="Title" size="20" value="{$data.email}">&nbsp;<span style="color:red" id="chk">*</span></td>
</tr>
<tr>
<td width="9%" height="34" align="right">手机号:</td>
<td align="left"><input name="phone" type="text" class="Input_W675" id="Title" size="20" value="{$data.phone}">&nbsp;<span style="color:red" id="chk">*</span></td>
</tr>
<tr>
<td width="9%" height="34" align="right">所在公司:</td>
<td align="left"><input name="company" type="text" class="Input_W675" id="Title" size="20" value="{$data.company}">&nbsp;<span style="color:red" id="chk">*</span></td>
</tr>
<tr>
<td width="9%" height="34" align="right">职务:</td>
<td align="left"><input name="zhiwu" type="text" class="Input_W675" id="Title" size="20" value="{$data.zhiwu}">&nbsp;<span style="color:red" id="chk">*</span></td>
</tr>
<tr>
<td width="9%" height="34" align="right">地址:</td>
<td align="left"><input name="address" type="text" class="Input_W675" id="Title" size="20" value="{$data.address}">&nbsp;<span style="color:red" id="chk">*</span></td>
</tr>
<tr>
<td width="9%" height="34" align="right">到期时间:</td>
<td align="left"><input name="expeirtime" type="text" class="Input_W675" id="Title" size="20" value="{$data.expeirtime|date='Y-m-d',###}">&nbsp;<span style="color:red" id="chk">*</span></td>
</tr>
<tr>
<td height="34" align="right">是否锁定：</td>
<td><input name="status" type="radio" value="1" {$data.status|retrunCheck=###,1}>&nbsp;正常&nbsp;<input name="status" type="radio" value="0" {$data.status|retrunCheck=###,0}>&nbsp;锁定</td>
</tr>
<tr>
<td height="34" align="right"></td>
<td><input type="button" onclick="ReSetPwd({$data.id})" value="初始化密码" name="Submit" class="bomdivSub"></td>
</tr>
<tr>
<td height="34" align="right"></td>
<td>注：用户默认密码为zcw123456</td>
</tr>

<tr>
<td height="25" align="right"><input type="hidden" name="id" value="{$data.id}" /><input type="hidden" name="action" value="update" /></td>
<td colspan="5"><input class="Submit" type="button" onClick="checkForm(document.forms['form1'])" value="" name="Submit22"><input class="resetsubmit" value="" name="" type="reset"><input class="returnsubmit" value="" name="" type="button" onClick="window.history.back();"></td>
</tr>

</table>
</form>
</div>



</div>
</body>
</html>