<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>医师协会</title>
<link href="/Public/Home/css/style2.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="/Public/Js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/Public/Js/jquery.Xslider.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	// 焦点图片淡隐淡现
	$("#slider3").Xslider({
		affect:'fade',
		ctag: 'div'
	});
	
	
	
	
});
</script>
</head>

<body>
<!--top-->
<div id="top">
	<div class="top">
    	<div class="logo left"><img src="/Public/Home/images/logo.jpg"  /></div>
        <div class="jiansuo right">
        	<ul>
            	
            </ul>
            <div class="hearderSearch">
            	<include file="Public:search" />
            </div>
        </div>
    </div>
</div>
<!--top end-->
<div class="banner"></div>
<div id="nav">
	<div class="nav">
    <ul>
        <include file="Public:menu" />
      </ul>
    </div>
</div>
<div id="centent">
<div class="con_row_2 w_1000">
  	  <div class="con_hd left">
  	   <style>
.switcher{position:absolute;bottom:10px;right:10px;float:right;z-index:99;}
.switcher a{background:#fff;border:1px solid #D00000;cursor:pointer;float:left;font-family:arial;height:18px;line-height:18px;width:18px;margin:4px;text-align:center;color:#D00000;}
.switcher a.cur,.switcher a:hover{background:#FF0000;border:1px solid #D00000;height:24px;line-height:24px;width:24px;margin:0 2px;color:#fff;font-weight:800;}
     </style>
       	  <div id="slider3" class="slider">
			<div class="conbox">
				<div><a href="http://www.mb5u.com/" title="jquery 文字连续滚动 节奏感十足的齿轮式滚动图片展示与文字内容特效展示"><img width="347" height="374" alt="jquery 文字连续滚动 节奏感十足的齿轮式滚动图片展示与文字内容特效展示" src="http://www.mb5u.com/demo/jquery/15_147/mb5u/f23be4d33f61fda6d1769258ba6f48fb.jpg"></a></div>
				<div><a href="http://www.mb5u.com/" title="常见问题解答部分动态读取数据 web / jQuery的，雅虎及谷歌文件"><img width="347" height="374" alt="常见问题解答部分动态读取数据 web / jQuery的，雅虎及谷歌文件" src="http://www.mb5u.com/demo/jquery/15_147/mb5u/85dc407af2b2f7bfbbcb025a0ee0d66e.jpg"></a></div>
				<div><a href="http://www.mb5u.com/" title="jquery 右下角提示框 快速反馈表Web/ PHP和jQuery的"><img width="347" height="374" alt="jquery 右下角提示框 快速反馈表Web/ PHP和jQuery的" src="http://www.mb5u.com/demo/jquery/15_147/mb5u/44b91d75de385dc1a70fe56600f41e52.jpg"></a></div>
				<div><a href="http://www.mb5u.com/" title="jquery 幻灯片效果制作防苹果风格的开机画面"><img width="347" height="374" alt="jquery 幻灯片效果制作防苹果风格的开机画面" src="http://www.mb5u.com/demo/jquery/15_147/mb5u/4ffecc68cb780d1801f19db52d38cabd.jpg"></a></div>
				<div><a href="http://www.mb5u.com/" title="jquery制作创建动画404页面"><img width="347" height="374" alt="jquery制作创建动画404页面" src="http://www.mb5u.com/demo/jquery/15_147/mb5u/fd4767d55565e368f7c380f1b80cb878.jpg"></a></div>
			</div>
			<div class="switcher">
				<a href="#" class="cur">1</a>
				<a href="#">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">5</a>
			</div>
		</div><!--slider end-->
      </div>
      <div class="con_row1_R left">
       	  <h2><div class="left">行业动态 <span>Dynamic</span></div><div class="right"><img src="/Public/Home/images/more.jpg"/></div><div class="clear"></div></h2>
          <h5>国家11部委联合开展严打涉医犯罪</h5>
    <ul>
                	<li><a href="#"><span class="left">国家11部委联合开展严打涉医犯罪</span><span class="right">7-25</span></a></li>
                	<li><a href="#"><span class="left">国家11部委联合开展严打涉医犯罪</span><span class="right">7-25</span></a></li>
                	<li><a href="#"><span class="left">国家11部委联合开展严打涉医犯罪</span><span class="right">7-25</span></a></li>
                	<li><a href="#"><span class="left">国家11部委联合开展严打涉医犯罪</span><span class="right">7-25</span></a></li>
           	 	    <li><a href="#"><span class="left">国家11部委联合开展严打涉医犯罪</span><span class="right">7-25</span></a></li>
                	<li><a href="#"><span class="left">国家11部委联合开展严打涉医犯罪</span><span class="right">7-25</span></a></li>
                	<li><a href="#"><span class="left">国家11部委联合开展严打涉医犯罪</span><span class="right">7-25</span></a></li>
                	<li><a href="#"><span class="left">国家11部委联合开展严打涉医犯罪</span><span class="right">7-25</span></a></li>
                </ul>
      </div>
      <div class="box huiyuantd right">
        	<h3><img src="/Public/Home/images/ico_06.jpg" class="abs left" />会员通道</h3>
<dl class="denglu"><form>
            	<dd><label>用户名：</label><input type="text" class="input" /></dd>
                <dd><label>密&nbsp;&nbsp;码：</label><input type="password" class="input"  /></dd>
                <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input name="提交" type="submit" class="submit" value="提交" /><input name="" type="reset" value="重置" class="submit" />
                </dd>
              <dd style="text-align:center"><a href="">立即注册</a>&nbsp;&iacute;&nbsp;<a href="#">忘记密码</a></dd>
            </form>
            </dl>
            <div class="nwrk_anniu">
       	  <img src="/Public/Home/images/member_03.jpg" width="180" height="35" /><img src="/Public/Home/images/member_04.jpg" width="180" height="35" /></div>
        </div>
      <div class="blank"></div>
      <div class="mb10"><img src="images/ban_1.jpg" width="1000" height="82" /></div>
      <div class="w_1000">
      <!--1-->
   	  <div class="box w_490 left">
        	<h2><img src="/Public/Home/images/ico_01.jpg" class="abs left" />政策法规<a href="#"><img src="/Public/Home/images/more.png" class="more right" /></a></h2>
            <ul class="list">
            	<li><a href="#"><span class="left">医疗机构从业人员行为规范...</span><span class="right">[2014-07-25]</span></a></li>
            	<li><a href="#"><span class="left">医疗机构从业人员行为规范...</span><span class="right">[2014-07-25]</span></a></li>
            	<li><a href="#"><span class="left">医疗机构从业人员行为规范...</span><span class="right">[2014-07-25]</span></a></li>
            	<li><a href="#"><span class="left">医疗机构从业人员行为规范...</span><span class="right">[2014-07-25]</span></a></li>
            	<li><a href="#"><span class="left">医疗机构从业人员行为规范...</span><span class="right">[2014-07-25]</span></a></li>
            	<li><a href="#"><span class="left">医疗机构从业人员行为规范...</span><span class="right">[2014-07-25]</span></a></li>
            	<li><a href="#"><span class="left">医疗机构从业人员行为规范...</span><span class="right">[2014-07-25]</span></a></li>
            	<li><a href="#"><span class="left">医疗机构从业人员行为规范...</span><span class="right">[2014-07-25]</span></a></li>
            	<li><a href="#"><span class="left">医疗机构从业人员行为规范...</span><span class="right">[2014-07-25]</span></a></li>
            </ul>
        </div>
     <!--1 end-->
     
     <!--2-->
   	  <div class="box w_490 right">
        	<h2><img src="/Public/Home/images/ico_01.jpg" class="abs left" />工作动态<a href="#"><img src="/Public/Home/images/more.png" class="more right" /></a></h2>
            <ul  class="list">
            	<li><a href="#"><span class="left">医疗机构从业人员行为规范...</span><span class="right">[2014-07-25]</span></a></li>
            	<li><a href="#"><span class="left">医疗机构从业人员行为规范...</span><span class="right">[2014-07-25]</span></a></li>
            	<li><a href="#"><span class="left">医疗机构从业人员行为规范...</span><span class="right">[2014-07-25]</span></a></li>
            	<li><a href="#"><span class="left">医疗机构从业人员行为规范...</span><span class="right">[2014-07-25]</span></a></li>
            	<li><a href="#"><span class="left">医疗机构从业人员行为规范...</span><span class="right">[2014-07-25]</span></a></li>
            </ul>
        </div>
     <!--2 end-->
    <div class="blank"></div>
      <div class="mb10"><img src="/Public/Home/images/ban_2.jpg" width="1000" height="60" /></div>
     <!--1-->
   	  <div class="box w_490 left">
        	<h2><img src="/Public/Home/images/ico_01.jpg" class="abs left" />最新培训<a href="#"><img src="/Public/Home/images/more.png" class="more right" /></a></h2>
            <ul  class="list">
            	<li><a href="#"><span class="left">医疗机构从业人员行为规范...</span><span class="right">[2014-07-25]</span></a></li>
            	<li><a href="#"><span class="left">医疗机构从业人员行为规范...</span><span class="right">[2014-07-25]</span></a></li>
            	<li><a href="#"><span class="left">医疗机构从业人员行为规范...</span><span class="right">[2014-07-25]</span></a></li>
            	<li><a href="#"><span class="left">医疗机构从业人员行为规范...</span><span class="right">[2014-07-25]</span></a></li>
            	<li><a href="#"><span class="left">医疗机构从业人员行为规范...</span><span class="right">[2014-07-25]</span></a></li>
            	<li><a href="#"><span class="left">医疗机构从业人员行为规范...</span><span class="right">[2014-07-25]</span></a></li>
            </ul>
        </div>
     <!--1 end-->
     
     <!--2-->
   	  <div class="box w_490 right">
        	<h2><img src="/Public/Home/images/ico_01.jpg" class="abs left" />医疗评审<a><img src="/Public/Home/images/more.png" class="more right" /></a></h2>
            <ul  class="list">
            	<li><a href="#"><span class="left">医疗机构从业人员行为规范...</span><span class="right">[2014-07-25]</span></a></li>
            	<li><a href="#"><span class="left">医疗机构从业人员行为规范...</span><span class="right">[2014-07-25]</span></a></li>
            	<li><a href="#"><span class="left">医疗机构从业人员行为规范...</span><span class="right">[2014-07-25]</span></a></li>
            	<li><a href="#"><span class="left">医疗机构从业人员行为规范...</span><span class="right">[2014-07-25]</span></a></li>
            	<li><a href="#"><span class="left">医疗机构从业人员行为规范...</span><span class="right">[2014-07-25]</span></a></li>
            	<li><a href="#"><span class="left">医疗机构从业人员行为规范...</span><span class="right">[2014-07-25]</span></a></li>
            </ul>
        </div>
     <!--2 end-->
    
      </div>
     
      
      <div class="blank"></div>
      
     
  
    
     <div class="blank"></div>
     <div class="yqlj">
     	<h2>友情链接</h2>
        <ul><li>中国社区卫生协会</li><li>中国社区卫生协会</li><li>中国社区卫生协会</li><li>中国社区卫生协会</li><li>中国社区卫生协会</li><li>中国社区卫生协会</li><li>中国社区卫生协会</li><li>中国社区卫生协会</li><li>中国社区卫生协会</li><li>中国社区卫生协会</li><li>中国社区卫生协会</li><li>中国社区卫生协会</li><li>中国社区卫生协会</li><li>中国社区卫生协会</li><li>中国社区卫生协会</li><li>中国社区卫生协会</li></ul>
     </div>
  </div>
</div>
<!--底部开始-->
<div class="dibu">
	<div align="center"><a>关于我们</a>   <a>网站版权</a>   <a>网站地图</a>     <a>合作联系</a>     <a>意见反馈</a>   <a>联系我们</a></div>
    <p>主办：上海医师协会 上海市北京西路1477号<br />
技术支持：中国医师协会信息网络中心 上海市浦东新区峨山路91弄58号2楼B区<br />
沪ICP备13019324号-1</p>
</div>
</body>
</html>
