<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>医师协会</title>
<link href="/Public/Home/css/style.css" type="text/css" rel="stylesheet" />
</head>

<body>
<!--top-->
<div id="top">
	<div class="top">
    	<div class="logo left"><img src="/Public/Home/images/logo.jpg"  /></div>
        <div class="jiansuo right">
        	<ul>
            	
            </ul>
            <div class="hearderSearch">
            	<form action="{:U('Index/search')}" method="get"> 
                    <input type="text" name="keyword" id="q" title="检索输入框" value="{$keyword}"/>
                    <input type="submit" class="btn-info" title="检索" value="  "/>
                </form>
            </div>
        </div>
    </div>
</div>
<!--top end-->
<div class="banner"></div>
<div id="nav">
	<div class="nav">
    <ul>
        	<include file="Public:menu" />
      </ul>
    </div>
</div>
<div id="centent">
	<div class="ny_con">
    	<div class="gonggaot"><img src="/Public/Home/images/laba.jpg" width="20" height="39" class="left mr10" /><php>echo gonggao();</php></div>
        <div class="blank"></div>
<div class="ny_L">
        	<div class="ny_Lbox mb10">
            	<h3>快速导航</h3>
                <ul>
                	<include file="Public:leftmenu" />
                </ul>
            </div>
            

        	
        </div>
        <div class="ny_R right">
        	<h2><img src="/Public/Home/images/ny_t.jpg" width="7" height="20" />搜索</h2>
            <ul class="dongtai">
            <volist name="list" id="article" key='k'>
            	<li <if condition="$k%2 eq 0">style="background:#f1f6fc"</if>><span class="left">· {$article.title}</span><a href="{:U('Index/view',array('id'=>$article['id']))}"><span class="right"><img src="images/li7.gif" width="19" height="17" />{$article.posttime|date='Y-m-d',###}</span></a></li>
            </volist>	
              </ul>
            
<div style="width: 95%; height: 30px; overflow: hidden; text-align: center; font-weight: bold; margin-bottom:10px; margin-top:10px; font-size:14px;">
                                          {$page}
                                            </div>

        </div><div class="clear"></div>
        <div class="blank"></div>
        
        <div class="yqlj">
     	<h2>友情链接</h2>
        <ul>
        <volist name="link" id="linklist">
        <li><a href="{$linklist.link}" target="_blank">{$linklist.title}</a></li>
        </volist>
        
        </ul>
     </div>
     <div class="blank"></div>
  </div>
    
</div>
<include file="Public:Footer" />

