


<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>医院管理系统</title>
<link rel="stylesheet" type="text/css" href="/Public/Css/index.css" />
</head>

<body>
<div class="header">
<div class="headerlogo">
<div class="fl fhsy"><a href="right.php"  target="right"></a></div>
<div class="dltc fr dis">
<a href="{:U('Public/doclogout')}" title="退出" onclick="{if(confirm('是否确定要退出管理系统？')){return true;}return false;}">退出</a>
<a href="#" target="_blank" title="帮助">帮助</a>
</div>
</div>
</div>
<div class="indtop">
<div class="indtopb">
<span>用户：{$Think.session.doctor.name}</span>
<span>项目：陕西皮肤性病防治所 </span><span>登录时间：{$Think.session.user.lastlogin|date='Y-m-d H:i:s',###}</span>
<span>当前IP：{$Think.session.doctor.ip}</span>
</div>

<div class="fr notification">
<div class="fl" id="gbh_tgtext">

</div>
</div>

</div>
</body>
</html>