<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>医师协会</title>
<link href="/Public/Home/css/style.css" type="text/css" rel="stylesheet" />
</head>

<body>
<!--top-->
<div id="top">
	<div class="top">
    	<div class="logo left"><img src="/Public/Home/images/logo.jpg"  /></div>
        <div class="jiansuo right">
        	<ul>
            	
            </ul>
            <div class="hearderSearch">
            	<include file="Public:search" />
            </div>
        </div>
    </div>
</div>
<!--top end-->
<div class="banner"></div>
<div id="nav">
	<div class="nav">
    <ul>
        	<include file="Public:menu" />
      </ul>
    </div>
</div>
<div id="centent">
	<div class="ny_con">
    	<div class="gonggaot"><img src="/Public/Home/images/laba.jpg" width="20" height="39" class="left mr10" /><php>echo gonggao();</php></div>
        <div class="blank"></div>
<div class="ny_L">
        	<div class="ny_Lbox mb10">
            	<h3>菜单</h3>
                <ul>
                	<include file="Member:menu" />
                </ul>
            </div>
            

        	
        </div>
        <div class="ny_R right">

        	<div  class="neirong">
        	<a href="{:U('Member/password')}">修改密码</a>
            	 <div class="reg" style="padding: 35px 0 35px 70px;">
<form action="" method="post">
<ul>
<li class="text"><span>用户名</span><input name="uname" type="text" value="{$info.uname}"/><b style="color:#F00">*</b></li>
<li class="text"><span>密码</span><input name="pwd" type="text" value=""/><b style="color:#F00">*</b></li>
<li class="text"><span>单位名称</span><input id=" " name="truename" type="text" value="{$info.truename}" /><b style="color:#F00">*</b></li>
<li class="text"><span>联系电话</span><input id=" " name="phone" type="text" value="{$info.phone}"/><b style="color:#F00">*</b></li>
<li class="text"><span>邮箱</span><input name="email" type="text" value="{$info.email}"/><b style="color:#F00">*</b></li>
<li><span>备注</span><textarea name="content">{$info.content}</textarea></li>
<li><input type="submit" value="提交" class="submit"><input type="reset" value="重写" class="reset"><div class="clear"></div></li>
</ul>
<input type="hidden" name="id" value="{$info.id}" />
</form>
</div>
            </div>
        </div><div class="clear"></div>
        <div class="blank"></div>
        
  
  </div>
    
</div>
<include file="Public:Footer" />