<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>医师协会</title>
<link href="__PUBLIC__/Home/css/style.css" type="text/css" rel="stylesheet" />

<!–[if lt IE9]>
<script src="__ROOT__/exam/app/core/styles/js/html5.js"></script>
<![endif]–>
<!-- Le styles -->
<link href="__ROOT__/exam/app/core/styles/css/bootstrap-combined.min.css" rel="stylesheet">
<link href="__ROOT__/exam/app/core/styles/css/layoutit.css" rel="stylesheet">
<link href="__ROOT__/exam/app/core/styles/css/plugin.css" rel="stylesheet">
<!--
<script type="text/javascript" src="app/core/styles/js/jquery.min.js"></script>
-->
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="__ROOT__/exam/app/core/styles/js/html5shiv.js"></script>
<![endif]-->

<script type="text/javascript" src="__ROOT__/exam/app/core/styles/js/bootstrap.min.js"></script>
<script>

</script>
</head>

<body>
<!--top-->
<div id="top">
	<div class="top">
    	<div class="logo left"><img src="__PUBLIC__/Home/images/logo.jpg"  /></div>
        <div class="jiansuo right">
        	<ul>
            	
            </ul>
            <div class="hearderSearch">
            	<include file="Public:search" />
            </div>
        </div>
    </div>
</div>
<!--top end-->
<div class="banner"></div>
<div id="nav">
	<div class="nav">
      <ul>
        	<include file="Public:menu" />
      </ul>
    </div>
</div>
<div id="centent">
	<div class="ny_con">
    	<div class="gonggaot"><img src="__PUBLIC__/Home/images/laba.jpg" width="20" height="39" class="left mr10" /><php>echo gonggao();</php></div>
        <div class="blank"></div>
<div class="ny_L">
        	<div class="ny_Lbox mb10">
            	<h3>菜单</h3>
                <ul>
                	<include file="Member:menu" />
                </ul>
            </div>
            

        	
        </div>
        <div class="ny_R right">

        	<div  class="neirong">

				<form method="post">
                    類型:<select name="paytype"><option value="alipay">支付宝</option>
					<option value="unionpay">银联</option>
					<option value="tenpay">财付通</option>

				</select>
                    金額:<input type="text" name="money" size="10" value="{$money}"/>

                    <button class="btn"  type="submit" >充值</button> <button class="btn"  type="button" onclick="history.back();" >返回</button>
				</form>

</div>
            


            </div>
        </div><div class="clear"></div>
        <div class="blank"></div>
        
  
  </div>
    
</div>
<include file="Public:Footer" />