<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/right.css" />
<script language="javascript">
function Edit(id)
{
	location.href='{:U('Project/editsubitem')}/id/'+ id;
}

function rabshi(id)
{
	if (confirm("确定删除？请慎重操作！"))
	{
		location.href='{:U('Project/delsubitem')}/id/'+ id;
	}
}
</script>
</head>
<!-- body style="overflow:scroll;overflow-x:hidden;" -->
<body>
<div id="man_zone">
<div class="right_add"><p>当前页：上线项目列表</p></div>

<table class="bomdiv" border="0">
<tr>

<td nowrap="nowrap"><p>&nbsp;项目名称：</p></td>
<script>document.onkeydown = function(event){e = event ? event : (window.event ? window.event : null);if(e.keyCode==13){location.href='account_list.php?CompanyID=44&UserName='+document.getElementById('UserName').value;}}</script>
<td nowrap="nowrap"><input name="UserName" type="text" class="Input_W80 bomdivinp" id="UserName" value="" size="10"></td>
<td nowrap="nowrap"><input class="bomdivcha" type="button" name="Submit2" value="查询" onClick="location.href='account_list.php?CompanyID=44&UserName='+document.getElementById('UserName').value"></td>

<td nowrap="nowrap"><input class="bomdivcha" type="button" name="Submit" value="增加" onClick="location.href='{:U('System/accountadd')}'"></td>
</tr>
</table>

<div class="all_table">
<table cellspacing="0" cellpadding="0">
  <tr id="all_table_top">
    <td nowrap='nowrap'>编号</td>
    <td nowrap='nowrap'>价格</td>
	<td nowrap='nowrap'>配送</td>
	<td nowrap='nowrap'>支持人数</td>
    <td nowrap='nowrap'>已酬金额</td>
	<td nowrap='nowrap'>限购人数</td>
	<td nowrap='nowrap'>成功后回报天数</td>
	<td nowrap='nowrap'>操作</td>
  </tr>
  <volist name="list" id="user">
<tr>
<td nowrap='nowrap'>{$user.id}</td>
<td nowrap='nowrap'>{$user.price}</td>
<td nowrap='nowrap'><if condition="$user['is_delivery'] eq 1">是<else />否</if></td>
<td nowrap='nowrap'>{$user.isorder}</td>
<td nowrap='nowrap'><php>echo $user['isorder']*$user['price'];</php></td>
<td nowrap='nowrap'>{$user.limit_user}</td>
<td nowrap='nowrap'>{$user.times}</td>
<td nowrap='nowrap'>
<span style="cursor:pointer;" title="编辑" onclick="Edit({$user.id})">[编辑]</span>
<span style="cursor:pointer;" title="删除" onclick="rabshi({$user.id})">[删除]</span>
</td>
</tr>
</volist>
</table>
</div>
<div class="page">
<div class="page">
{$page}
		
		</div></div>
</div>
</body>
</html>